.wrapper {
    text-align: center;
    padding: 10px;
}

.button {
    display: inline-block;
    height: 30px;
    width: 50px;
    margin-left: 3px;
    background-color: lightgray;
    border: 1px solid black;
    cursor: pointer;
}

.indicator {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: green;
    margin-left: 10px;
    border: 1px solid black;
    cursor: default;
}

.activeOn {
    background-color: green;
}
.unActiveOff {
    background-color: red;
}